1.Are lists mutable or immutable, explain with an example

In [2]:
lst1 = [1, 2, 3]
print(lst1)
lst1[1] = 5
print(lst1)
lst1.append(8)
print(lst1)
lst1.pop(0)
print(lst1)

[1, 2, 3]
[1, 5, 3]
[1, 5, 3, 8]
[5, 3, 8]

2.Take any example of list on your own and perform atleast 5 list operations on that

In [3]:
lst = [1, 21, 12, 8, 9]
print(lst)
lst.insert(2, 7)
print(lst)
lst.remove(8)
print(lst)
lst.reverse()
print(lst)
lst.clear()
print(lst)

[1, 21, 12, 8, 9]
[1, 21, 7, 12, 8, 9]
[1, 21, 7, 12, 9]
[9, 12, 7, 21, 1]
[]

3.Create a new list containing only the even numbers from the original list.

original list ;[1,2,2,4,5,6,7,12,3,456,78,67,89,90]

In [4]:
lst = [1,2,2,4,5,6,7,12,3,456,78,67,89,90]
lst1 = [number for number in lst if number%2 == 0]
print(lst1)

[2, 2, 4, 6, 12, 456, 78, 90]

4.Create a new list with the squares of each element in the original list.

original list : [3,5,6,8,2,45]

In [5]:
lst = [3,5,6,8,2,45]
lst1=[number ** 2 for number in lst]
print(lst1)

[9, 25, 36, 64, 4, 2025]

5.Check if all elements in the list are positive and return all the positive elements in a new list.

input ; [12,23,4,56,77,-89,7,90,90,-87,-99]

In [7]:
lst = [12,23,4,56,77,-89,7,90,90,-87,-99]
lst1 = [ number for number in lst if number > 0]
print(lst1)

[12, 23, 4, 56, 77, 7, 90, 90]